<div class="agenda-detail-container">

    <div></div>

    <div>
    
        <div class="agenda-detail-title">
            <div>
                <spam style="float:left">
                    <h3>Agenda</h3>
                </spam>
                <spam style="float:right">
                    <h3><a href="{% url 'agenda-create' %}">Add new</a></h3>
                </spam>
            </div>
        </div> 
        <hr>

        <div class="agenda-detail-list">
            <div>
                {% for object in agenda_objects %}  
                    <div>    
                        <h5><a href="{{ object.get_agenda_detail_url }}">{{ object.name }}</a></h5>  
                    </div>    
                {% endfor %}
            </div>
        
            <div>
                <div class="agenda-detail-form">
                    <div>
                        <h3>{{ agenda_obj.name }}</h3>
                    </div>
                    <div>
                        <h5 style="float:right">
                            <a href="{{ agenda_obj.get_agenda_update_url }}">Edit</a>
                            {% if agenda_obj.name != 'Main' %}
                                <a href="{{ agenda_obj.get_agenda_delete_url }}">Delete</a>
                            {% endif %}
                        </h5>
                    </div>
                </div>
                <hr>            
                <div class="agenda-detail-form">
                    <div>
                        <h5>Time limit for scheduling</h5>
                    </div>
                    <div>
                        <h7 style="float:right">{{ agenda_obj.increments }} min before the start</h7>
                    </div>                    
                </div>
                <hr>
                <div class="agenda-detail-form">
                    <div>
                        <h5>Time Zone</h5>
                    </div>
                    <div>
                        <h7 style="float:right">{{ agenda_obj.timezone }}</h7>
                    </div>                    
                </div>
                <hr>
                <div class="agenda-detail-weekly-squedules">
        
                    <div></div>
        
                    <div>
                        <h5>Weekly Schedules</h5>
                        <div class="agenda-detail-weekly-squedules-form">
                            <div></div>
                            <div>
                                <h5>Sun</h5>
                            </div>
                            <div>
                                {% if sunday %}
                                    {% for schedules in agenda_obj.get_sunday_schedules %}
                                    <h7 style="float:right">{{ schedules.start_time }} - {{ schedules.end_time }}</h7>    
                                    {% endfor %}
                                {% else %}
                                    <h7 style="float:right">unavailable</h7>
                                {% endif %}
                            </div>
                            <div></div>                    
                        </div>
                        <hr>
                        <div class="agenda-detail-weekly-squedules-form">
                            <div></div>
                            <div>
                                <h5>Mon</h5>
                            </div>
                            <div>
                                {% if monday %}
                                    {% for schedules in agenda_obj.get_monday_schedules %}
                                    <h7 style="float:right">{{ schedules.start_time }} - {{ schedules.end_time }}</h7>    
                                    {% endfor %}
                                {% else %}
                                    <h7 style="float:right">unavailable</h7>
                                {% endif %}
                            </div>
                            <div></div>                    
                        </div>
                        <hr>
                        <div class="agenda-detail-weekly-squedules-form">
                            <div></div>
                            <div>
                                <h5>Tue</h5>
                            </div>
                            <div>
                                {% if tuesday %}
                                    {% for schedules in agenda_obj.get_tuesday_schedules %}
                                    <h7 style="float:right">{{ schedules.start_time }} - {{ schedules.end_time }}</h7>    
                                    {% endfor %}
                                {% else %}
                                    <h7 style="float:right">unavailable</h7>
                                {% endif %}
                            </div>                    
                        </div>
                        <hr>
                        <div class="agenda-detail-weekly-squedules-form">
                            <div></div>
                            <div>
                                <h5>Wed</h5>
                            </div>
                            <div>
                                {% if wednesday %}
                                    {% for schedules in agenda_obj.get_wednesday_schedules %}
                                    <h7 style="float:right">{{ schedules.start_time }} - {{ schedules.end_time }}</h7>    
                                    {% endfor %}
                                {% else %}
                                    <h7 style="float:right">unavailable</h7>
                                {% endif %}
                            </div>                    
                        </div>
                        <hr>
                        <div class="agenda-detail-weekly-squedules-form">
                            <div></div>
                            <div>
                                <h5>Thu</h5>
                            </div>
                            <div>
                                {% if thursday %}
                                    {% for schedules in agenda_obj.get_thursday_schedules %}
                                    <h7 style="float:right">{{ schedules.start_time }} - {{ schedules.end_time }}</h7>    
                                    {% endfor %}
                                {% else %}
                                    <h7 style="float:right">unavailable</h7>
                                {% endif %}
                            </div>                    
                        </div>
                        <hr>
                        <div class="agenda-detail-weekly-squedules-form">
                            <div></div>
                            <div>
                                <h5>Fri</h5>
                            </div>
                            <div>
                                {% if friday %}
                                    {% for schedules in agenda_obj.get_friday_schedules %}
                                    <h7 style="float:right">{{ schedules.start_time }} - {{ schedules.end_time }}</h7>    
                                    {% endfor %}
                                {% else %}
                                    <h7 style="float:right">unavailable</h7>
                                {% endif %}
                            </div>                    
                        </div>
                        <hr>
                        <div class="agenda-detail-weekly-squedules-form">
                            <div></div>
                            <div>
                                <h5>Sat</h5>
                            </div>
                            <div>
                                {% if saturday %}
                                    {% for schedules in agenda_obj.get_saturday_schedules %}
                                    <h7 style="float:right">{{ schedules.start_time }} - {{ schedules.end_time }}</h7>    
                                    {% endfor %}
                                {% else %}
                                    <h7 style="float:right">unavailable</h7>
                                {% endif %}
                            </div>                    
                        </div>
                        
                    </div>
        
                    <div></div>
        
                </div>
        
            </div>  
        
        </div>

    </div>
    

    <div></div>
        
</div>

