
<form action="." method="POST" hx-post="." hx-swap="outerHTML" id="myform">
  
  {% if message %}
    <p>{{ message }}</p>  
  {% endif %}

  {% csrf_token %}

  {% if agenda_obj.name == 'Main' %}
  
  <h4>Set your squedules start increments</h4>
  <p>{{ form.increments }}</p>  
  
  {% else %}

  <h4>Set your agenda name</h4>
  <p>{{ form.name }}</p>

  <h4>Set your squedules start increments</h4>
  <p>{{ form.increments }}</p>

  {% endif %}

  <h3>Set your weekly squedules</h3>
  {% if error %}
    <p>{{ error }}</p>  
  {% endif %}

  <div class="monday-container">

    <div>
      <span style="float:left">
        <div id="checkbox-container">
        <h4>
          <input type="checkbox" name="display-type" value="mondaybox" id="el" checked></input>
          <label>Mon</label> 
        </h4>          
        </div>
      </span>
    </div>

    <div>  
      {% for obj in agenda_obj.get_monday_schedules_children %}
            {% include 'base/partials/monday-inline-del.html' with object=obj %}
      {% endfor %}
        
      {% if new_monday_url %}
        <div id="monday-create"></div>    
      {% endif %}

      <h4 id="text" style="display:none">unavailable</h4>
    </div>

    <div>
      <span style="float:left">
        <h4><button id="add_btn" style="display:block" hx-get="{{ new_monday_url }}" hx-trigger="click" hx-target="#monday-create" hx-swap="beforeend">+</button></h4>
      </span>
    </div>
    <div></div>
          
  </div>
  <div class="hr-container">
    <div>
      <hr>
    </div>
    <div></div>
  </div>
  
  <p>
    <div class="htmx-indicator">Loading...</div>
    <button class="htmx-inverted-indicator" type="submit" id="save_btn" name="emptylayerbtn">Save and return</button>
  </p>
</form>

{% block javascript %}

<script>

var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {};
    var $checkboxes = $("#checkbox-container :checkbox");

    $checkboxes.on("change", function(){
        $checkboxes.each(function(){
            checkboxValues[this.id] = this.checked;
        });
    
        localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
    });

    // On page load
    $.each(checkboxValues, function(key, value) {
        $("#" + key).prop('checked', value);
    });



</script>

{% endblock javascript %}