<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- <meta name="description" content="" /> -->

  <title>Calendrive</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  {% block stylesheet %}
  <style>  
    .htmx-indicator{
        display: none;
    }

    .htmx-request .htmx-indicator{
        display: inline;
    }

    .htmx-inverted-indicator {
        display: inline;
    }

    .htmx-request .htmx-inverted-indicator {
        display: none;
    }
  </style>
  {% endblock stylesheet %}
  
</head>

<body>
    {% load crispy_forms_tags %} 
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
