<style>
  .navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    
  }
  
</style>

{% if request.user.is_authenticated %}

<div class="navbar-container">

  <div></div>

  <div> 
    <a href="/"><h1>CalenDrive</h1></a>
  </div>

  <div>
    {% for object in agenda_objects %} 
    {% if forloop.first %} 
    <p style="text-align:right"> <a href="{{ object.get_agenda_detail_url }}">Agenda</a> | <a href="">Conect Telegram</a> | <a href="{% url 'user-profile' user.id %}">Account</a> </p>
    {% endif %}
    {% endfor %}
  </div>

  <div></div>

</div>
<hr>

{% else %}
<div>
  <center>
    
    <h1>Calendrive</h1><hr>
    
  </center>  
</div>
{% endif %}
  


  

