{% extends 'main.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 

<style>
  .page-container{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
  }

</style>

{% load crispy_forms_tags %} 

<div class="page-container">
    <div></div>
    <div class="content-section">
        <h2>Password Change</h2><hr>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <a href={{request.META.HTTP_REFERER}}>Back</a>
            <button class="btn btn-outline-info" type="submit">Reset password</button>
        </form>
    </div>
    <div></div>

</div>
    
{% endblock %}