{% extends 'main.html' %}

{% block content %}

<style>
    .telegram-settings-container{
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
  
    }
    .telegram-settings-container2{
      display: grid;
      grid-template-columns: 6fr;
  
    }
    .telegram-settings-container3{
    display: grid;
    grid-template-columns: 1fr 5fr;

  }
  .telegram-settings-container4{
    display: grid;
    grid-template-columns: 1fr 4fr;

  }
</style>

<div class="telegram-settings-container">

    <div></div>

    <div>
        <div class="telegram-settings-container2">
            <div>
                <spam style="float:left">
                    <h1>OAuth</h1>
                </spam>
                <spam style="float:right">
                    <h3><a href="{% url 'telegram' %}">Go Back</a></h3>
                </spam>
            </div>
        </div> 
        <hr>
        <div class="telegram-settings-container3">

            <div>
                <h3>OAuth</h3>
            </div>

            <div>
                <div class="telegram-settings-container4">
                    <div>
                        <h2>Token</h2>
                    </div>
                    <div>
                        <spam style="float:right">
                            {% for token in tokens %}
                        
                                <h3>{{token.number}}</h3>
                        
                            {% endfor %}
                        </spam>
                    </div>                    
                </div>
                <div class="telegram-settings-container4">
                    <div>
                    </div>
                    <div>
                    </div>                    
                </div>
            </div>  

        </div>
        
    </div>

    <div></div>
        
</div>


{% endblock content %}