{% extends 'main.html' %}

{% block content %}

<style>
    .bot-container{
      display: grid;
      grid-template-columns: 1fr 1fr 5fr 1fr;
  
    }
    .bot-container2{
      display: grid;
      grid-template-columns: 5fr;
  
    }
    .telegram-settings-container{
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;

    }
    .telegram-settings-container2{
      display: grid;
      grid-template-columns: 6fr;

    }
    .telegram-settings-container3{
      display: grid;
      grid-template-columns: 1fr 5fr;

    }
    .telegram-settings-container4{
      display: grid;
      grid-template-columns: 4fr 1fr;

    }
    .telegram-settings-container5{
      display: grid;
      grid-template-columns: 1fr 22fr 4fr 1fr;

    }
    .telegram-settings-container6{
      display: grid;
      grid-template-columns: 1fr 28fr 1fr;

    }
    .telegram-settings-container7{
      border-style: solid;

    }
</style>


<div class="telegram-settings-container">

    <div></div>
  
    <div>
    
      <div class="telegram-settings-container2">
        <div>
          <spam style="float:left">
            <h1>Account</h1>
          </spam>
          <spam style="float:right">
          </spam>
        </div>
      </div> 
      <hr>
  
      <div class="telegram-settings-container3">
          
        <div>    
          <h3><a href="{% url 'user-profile' user.id %}">Profile</a></h3>
          <h3>Telegram Auth</h3> 
          <h3><a href="">Calendar conections</a></h3>
        </div>
      
        <div>
          <div class="telegram-settings-container4">
            <div>
              <h1>Auth</h1>
            </div>
            <div>

            </div>
          </div>
          <hr>            
          <div class="telegram-settings-container2">
              <div>
                <spam style="float:left">
                    <h3>Token</h3>
                </spam>
                <spam style="float:right">
                    <form method="POST" action="{% url 'token' %}">
                        {% csrf_token %}
                        <h3><button>Token</button></h3>    
                    </form>
                </spam>
              </div>
                                
          </div>
          <hr>
            
      
        </div>
  
    </div>
    
  
    <div></div>
          
  </div>

{% endblock content %}