{% extends 'main.html' %}
{% block content %}

<div class="row">
  <div class="col-6 mx-auto">       
    <div class=" col-6 mx-auto">
      <h1 class="text-center">
        Login
      </h1>
    </div>
    <div class="col-6 mx-auto">
      <h6 class="text-center">
        Use this link to change your password. 
        <a class="link-primary" href="{% url 'password-change' %}">Change</a>
      </h6>
    </div>
    <hr>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="container">
      <div class="position-relative">
        <h3 class="position-absolute top-0 start-0 pe-1">
          Username: 
        </h3>
        <h4 class="text-end">
          {{ users }}
        </h4>      
      </div>
    </div>
    <hr> 
  </div>     
</div>

{% endblock content %}