{% extends 'main.html' %}

{% block content %}

<style>
  .agenda-detail-container{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;

  }
  .agenda-detail-title{
    display: grid;
    grid-template-columns: 6fr;

  }
  .agenda-detail-list{
  display: grid;
  grid-template-columns: 1fr 5fr;

  }
  .agenda-detail-form{
    display: grid;
    grid-template-columns: 4fr 1fr;

  }
  .agenda-detail-weekly-squedules{
    display: grid;
    grid-template-columns: 1fr 28fr 1fr;
    border-style: solid;

  }
  .agenda-detail-weekly-squedules-form{
    display: grid;
    grid-template-columns: 1fr 22fr 4fr 1fr;

  }
  .htmx-indicator{
    display: none;

  }
  .htmx-request .htmx-indicator{
    display: block;

  }

</style>

<div hx-get="{{ hx_url }}" hx-trigger="load delay:0.5s">
  
  <div class="agenda-detail-container">
    <div></div>
    <div class="htmx-indicator"><h3>Loading...</h3></div>
    <div></div>
  </div>
    
</div>

{% endblock content %}