{% extends 'main.html' %}

{% block content %}

<style>
    .create-update-container{
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
  
    }
    .monday-container{
        display: grid;
        grid-template-columns: 1.5fr 3fr 1.5fr 10fr;
    }
    .monday-inline-container{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
    }
    .hr-container{
        display: grid;
        grid-template-columns: 5fr 10fr;
    }

    .hidden{
        display: none
    }
    
</style>

<div class="create-update-container">

    <div></div>

    <div>
        {% include 'base/partials/agenda-update.html' %}        
    </div>
    <div>
</div>


{% endblock content %}

{% block javascript %}

<script>

    document.addEventListener('click', (event)=>{
    if (event.target.id == 'add-more') {
        add_new_form(event)
    }
    })

    function add_new_form(event) {
    if (event) {
        event.preventDefault()
    }
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    const currentMondayForms = document.getElementsByClassName('monday-form')
    const currentFormCount = currentMondayForms.length 
    const formCopyTarget = document.getElementById('monday-form-list')
    const copyemptyFormEl = document.getElementById('empty-form').cloneNode(true)
    const deleteBtn = document.getElementById('delete')
    copyemptyFormEl.setAttribute('class', 'monday-form')
    copyemptyFormEl.setAttribute('id', `form-${currentFormCount}`)
    const regex = new RegExp('__prefix__', 'g')
    copyemptyFormEl.innerHTML = copyemptyFormEl.innerHTML.replace(regex, currentFormCount)
    totalNewForms.setAttribute('value', currentFormCount + 1)
    formCopyTarget.append(copyemptyFormEl)
    }

    $(document).ready(function(){
        alertStatus()
    })

    function alertStatus(event) {
    
    var text = document.getElementById("text");
    var btn = document.getElementById("add_btn");
    const currentMondayForms = document.getElementsByClassName('monday-form')  
    const addMoreBtn = document.getElementById('add-more')
    if ($("#el").is(":checked")) {
        $(currentMondayForms).show();
        $(addMoreBtn).show();
        text.style.display = "none";
        btn.style.display = "block";
    } else {
        $(currentMondayForms).hide();
        $(addMoreBtn).hide();
        text.style.display = "block";
        btn.style.display = "none";
    }
    };

    $(document).on("click", "#el", alertStatus);

    var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {};
    var $checkboxes = $("#checkbox-container :checkbox");

    $checkboxes.on("change", function(){
        $checkboxes.each(function(){
            checkboxValues[this.id] = this.checked;
        });
    
        localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
    });

    // On page load
    $.each(checkboxValues, function(key, value) {
        $("#" + key).prop('checked', value);
    });

</script>

{% endblock %}