{% extends 'main.html' %}

{% block content %}

<style>
    .bot-container{
      display: grid;
      grid-template-columns: 1fr 1fr 5fr 1fr;
  
    }
</style>

<div class="bot-container">

    <div>
  
    </div>

    <div>
        <h3><a href="/">Rooms</a></h3> 
        <h3><a href="">Roomies</a></h3>
        <h3><a href="">Invitations</a></h3>
        <h3><a href="">Bot</a></h3>
        <h3><a href="">Profile</a></h3>   
    </div>

    <div>
        <h1>Bot</h1>
        <form method="POST" action="{% url 'token' %}">
            {% csrf_token %}
            <button>Telegram Token</button>
        </form> 
    </div>
    <div>
 
    </div>

</div>

{% endblock content %}