{% extends 'main.html' %}


{% block content %}

<style>
  .group-container{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;

  }
  .group2-container{
    display: grid;
    grid-template-columns: 3fr 3fr;

  }
  .group3-container{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr;

  }
  .group4-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

  }
  .group5-container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    
  }
</style>

<div class="group-container">

  <div></div>

  <div>
    {% if request.user == group.admin %}
      <div class="group2-container">
        <div>
          <h1>{{group.name}}</h1>
        </div>
        <div>
          <h3 style="float:right"><a href="{% url 'delete-group' group.id %}">Delete</a></h3>
        </div>
      </div>
    {% else %}
      <h1>{{group.name}}</h1>
    {% endif %}
    <hr>
  </div>

  <div></div>

</div>

<div class="group3-container">

  <div></div>

  <div>
    <h3><a href="">Settings</a></h3> 
    <h3><a href="{% url 'group-guest-list' group.id %}">Guest list</a></h3>
    <h3><input type="Submit" value="Enter" /></h3>
  </div>

  <div>
    <div class="group4-container">
      <div>
        <h2>Settings</h2>
      </div>
      <div>
        <h3 style="float:right"><a href="{% url 'update-group' group.id %}">Edit</a></h3>
      </div>    
    </div>
    <div class="group5-container">
      <div>
        <h3>Title:</h3>
      </div>
      <div>
        <h4>{{group.name}}</h4>
      </div>
    </div>
    <hr>
    <div class="group5-container">
      <div>
        <h3>Description:</h3>
      </div>
      <div>
        <h5>{{group.description}}</h5>
      </div>
    </div>
    <hr>
    <div class="group5-container">
      <div>
        <h3>Type:</h3>
      </div>
      <div>
        <h5>{{group.type}}</h5>
      </div>
    </div>
    <hr>
    <div class="group5-container">
      <div>
        <h3>Creation:</h3>
      </div>
      <div>
        <h5>{{group.created}}</h5>
      </div>
    </div>

  </div>
  <div></div>

</div>

{% endblock %}