{% extends 'main.html' %}


{% block content %}

<style>
  .home-container{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr;

  }
  .home2-container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
  .home3-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home4-container{
    display: grid;
    grid-template-columns: 2fr;
  }
</style>

<div class="home-container">

  <div></div>

  <div>
      <!-- <h3><a href="/">Rooms</a></h3>  -->
      <!-- <h3><a href="">Roomies</a></h3> -->
      <h3><a href="{% url 'telegram' %}">Telegram</a></h3>
  </div>

  <div>
    <div>
      <h1>Rooms</h1>
      <p>
        <span style="float:right"><a href="{% url 'create-group' %}">Create</a></span>
        <span style="float:left"><h4>{{group_count}} available</h4></span>
      </p>
      <div class="home2-container">
        <div>
          <h3>Title</h3>
          <hr>
        </div>
        <div>
          <h3>Creator</h3>
          <hr>
        </div>
        <div>
          <h3>Type</h3>
          <hr>
        </div>
      </div>     
    </div>

    <div>
      {% for group in groups %}  
      <div class="home3-container">
        <div>
          {% if request.user == group.admin %}
            <h5><a href="{% url 'group-settings' group.id %}">{{group.name}}</a></h5>
          {% else %}
            <h5>{{group.name}}</h5>
          {% endif %}
        </div>
        <div>
          <h5>@{{group.admin.username}}</h5>
        </div>
        <div>
          <h5>{{group.type}}</h5>
        </div>
        <div>
          <h3 style="float:right"><input type="Submit" value="Enter" /></h3>
        </div>               
      </div> 
      <hr>     
      {% endfor %}
    </div>
    

  </div> 
  
  <div></div>

</div>
 

{% endblock %}