{% extends 'main.html' %}

{% block content %}

<style>
    .login-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  
    }
  </style>

{% if page == 'login' %}
<div class="login-container">
    <div>

    </div>

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <center>
                <h1>Welcome back</h1>          
                <p>
                    <label>Username</label>
                    <input type="username" name="username" placeholder="enter username"/>
                </p>
                <p>
                    <label>Password</label>
                    <input type="password" name="password" placeholder="enter password"/>
                </p>

                <input type="submit" value="Login" />

                </form>
                <p>Havent signed up yet?</p>
                <a href="{% url 'register' %}">Sign up</a>
            </center>         

    </div>

    <div>

    </div>
</div>

{% else %}

<div class="login-container">
    <div>

    </div>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <center>
                <h1>Welcome</h1>
            </center>
            {{form.as_p}}

            <input type="submit" value="Register" />

        </form>
        <center>
            <p>Already signed up?</p>
            <a href="{% url 'login' %}">Login</a>            
        </center>
        
    </div>
    <div>

    </div>

</div>



{% endif %}


{% endblock %}