{% extends 'main.html' %}

{% load static %}

{% block content %}

<style>
    .group-container{
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
  
    }
    .telegram-settings-container2{
      display: grid;
      grid-template-columns: 6fr;
  
    }

</style>

<div class="group-container">

    <div></div>
  
    <div class="content-section">
        <div class="telegram-settings-container2">
            <div>
                <spam style="float:left">
                    <h1>Voice messages</h1>
                </spam>
                <spam style="float:right">
                    <h3><a href="{% url 'telegram-settings-VM' %}">Go Back</a></h3>
                </spam>
            </div>
        </div> 
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
            <div id="event_name">
                {{ form.as_p }}
                <input type="Submit" value="Submit" />
            </div>
            </fieldset>
        </form>
    </div>
  
    <div></div>
  
</div>

{% endblock content %}

{% block javascript %}

<script>
  // Call hideShow when page is loaded
  $(document).ready(function(){
      hideShow()
  })

  // call hideShow when the user clicks on the time dropdownlist
  $('#id_voice_messages').click(function(){
      hideShow()
  });

  function hideShow(){
      if(document.getElementById('id_voice_messages').options[document.getElementById('id_voice_messages').selectedIndex].value == "")
      {
          $('#id_voice_messages_notification').parents('p:first').hide();
      }
      else if(document.getElementById('id_voice_messages').options[document.getElementById('id_voice_messages').selectedIndex].value == "inactivated") 
      {
        $('#id_voice_messages_notification').parents('p:first').hide();
      }
      else
      {
        $('#id_voice_messages_notification').parents('p:first').show();
      }
  }


</script>

{% endblock javascript %}






