{% extends 'main.html' %}

{% block content %}

<style>
    .telegram-settings-container{
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
  
    }
    .telegram-settings-container2{
      display: grid;
      grid-template-columns: 6fr;
  
    }
    .telegram-settings-container3{
    display: grid;
    grid-template-columns: 1fr 5fr;

  }
  .telegram-settings-container4{
    display: grid;
    grid-template-columns: 1fr 4fr;

  }
</style>

<div class="telegram-settings-container">

    <div></div>

    <div>
        <div class="telegram-settings-container2">
            <div>
                <spam style="float:left">
                    <h1>/Agenda</h1>
                </spam>
                <spam style="float:right">
                    <h3><a href="{% url 'telegram' %}">Go Back</a>|Create</h3>
                </spam>
            </div>
        </div> 
        <hr>
        <div class="telegram-settings-container3">

            <div>
                <h3>1 - Main</h3>
            </div>

            <div>
                <div class="telegram-settings-container4">
                    <div>
                        <h2>Main</h2>
                    </div>
                    <div>
                        <h3 style="float:right"><a href="">Edit</a></h3>
                    </div>                    
                </div>
                <div class="telegram-settings-container4">
                    <div>
                        <!-- <h3>Current</h3> -->
                    </div>
                    <div>
                        <!-- <h3 style="float:right">America/BR</h3> -->
                    </div>                    
                </div>
            </div>  

        </div>
        
    </div>

    <div></div>
        
</div>


{% endblock content %}