{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    .bot-container{
      display: grid;
      grid-template-columns: 1fr 1fr 5fr 1fr;
  
    }
    .bot-container2{
      display: grid;
      grid-template-columns: 5fr;
  
    }
    .telegram-settings-container{
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;

    }
    .telegram-settings-container2{
        display: grid;
        grid-template-columns: 6fr;

    }
    .telegram-settings-container3{
        display: grid;
        grid-template-columns: 1fr 5fr;

    }
    .telegram-settings-container4{
        display: grid;
        grid-template-columns: 4fr 1fr;

    }
    .telegram-settings-container5{
        display: grid;
        grid-template-columns: 1fr 22fr 4fr 1fr;

    }
    .telegram-settings-container6{
        display: grid;
        grid-template-columns: 1fr 28fr 1fr;

    }

</style>

<div class="bot-container">

    <div></div>

    <div></div>

    <div>   
        
        {% for object in agenda_objects %} 
        {% if forloop.first %} 
        <div class="bot-container2">
            <div>
                <spam style="float:left">
                    <h3>Agenda deleted successfully</h3>
                </spam>
                <spam style="float:right">
                    
                    <h3><a href="{{ object.get_absolute_url }}">Return</a></h3>  
                    
                </spam>
            </div>
        </div>
        
        {% endif %}
        {% endfor %}
        
    </div>

    <div></div>
        
</div>

<!-- <div class="telegram-settings-container">
    <div></div>
    <div>
        <div class="telegram-settings-container2">
            <div>
                <spam style="float:left">
                    <h1>Agenda</h1>
                </spam>
                <spam style="float:right">
                    <h3><a href="{% url 'telegram-agenda-create' %}">Add</a>|<a href="{% url 'telegram' %}">Go Back</a></h3>
                </spam>
            </div>
        </div> 
        <hr>
            

    </div>
    <div></div>
</div> -->

{% endblock content %}