{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    .group-container{
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
  
    }
</style>

<div class="group-container">

    <div></div>
  
    <!-- <div class="content-section">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
                <div id="event_name">
                    {{ form.as_p }}
                    <input type="Submit" value="Submit" />
                </div>
                <div id="recurring_event">
                    
                </div>
                <div id="recurrence_pattern" style="display:block">
                
                </div>
          </fieldset>
        </form>
    </div> -->

    <div>
      <form method='POST'> 
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Save</button>
    </form>
    </div>
  
    <div></div>
  
</div>

{% endblock content %}

{% block javascript %}
<!-- <script>

$(document).ready(function(){
  $("#id_recurring_event").change(function() {
    if ($(this).val() === "No") {
      $('#id_recurrence_pattern').hide();
    } else {
      $('#id_recurrence_pattern').show();
    }
  });

  $("#id_recurring_event").trigger("change")

})
</script> -->


<script>
  // Call hideShow when page is loaded
  $(document).ready(function(){
      hideShow()
  })

  // call hideShow when the user clicks on the time dropdownlist
  $('#id_time').click(function(){
      hideShow()
  });
  
  // The jquery function below hides/shows the open_time and close_time fields depending on the selected time list 
  function hideShow(){
      if(document.getElementById('id_time').options[document.getElementById('id_time').selectedIndex].value == "1")
      {
          $('#id_open_time').parents('p:first').hide();
          $('#id_close_time').parents('p:first').hide();
      }else
      {
          $('#id_open_time').parents('p:first').show();
          $('#id_close_time').parents('p:first').show();
      }
  }
</script>




{% endblock %}