{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    .group-container{
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
  
    }
    .group-container2{
      display: grid;
      grid-template-columns: 2fr 8fr;
    }
    .group-container3{
      display: grid;
      grid-template-columns: 3fr 7fr;
    }
    .hidden{
      display: none
    }

</style>

<div class="group-container">

  <div></div>
    
  <div id="checkbox-container">
    <div>
      <label>Option 1<input type="checkbox" id="option1"></label>
      
    </div>
    <div>
      <label for="option2">Option 2</label>
      <input type="checkbox" id="option2">
    </div>
    <div>
      <label for="option3">Option 3</label>
      <input type="checkbox" id="option3">
    </div>
                                 
  </div>
  
  <div></div>
  
</div>

{% endblock content %}

{% block javascript %}

<script>

  var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {};
  var $checkboxes = $("#checkbox-container :checkbox");

  $checkboxes.on("change", function(){
    $checkboxes.each(function(){
      checkboxValues[this.id] = this.checked;
    });
    
    localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
  });

  // On page load
  $.each(checkboxValues, function(key, value) {
    $("#" + key).prop('checked', value);
  });


</script>

{% endblock %}